@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #f8fafc;
  color: #0f172a;
  overflow-x: hidden;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}


